html {
    height: 100%;
    font-size: 16px;
}

@media (max-width: 575.98px) {  
  html {
    font-size: 10px;
  }
 }

.parallax { 
    /* The image used */
    background-image: url("img/ub_back.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.title {
  font-family: sans-serif;
  font-weight: 600;
  color: #fff;
  padding: 1.5rem 0 1.5rem 0;
  letter-spacing: 1px;
  font-size: 4.5rem;
  text-align: center;
}

.sub.title {
  font-size: 2.4rem;
}

.header {
  min-height: 37.5rem;
  padding-top: 6.25rem;
  padding-bottom: 3rem;
}

.whiteback {
  background-color: #fff;
}

h1.display-1.text-center {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

div.container.map {
  min-height: 500px;
}

div.carousel-item {
  max-height: 40rem;
}