@font-face {
	font-family: "TT Hoves";
	src: local("../fonts/TT-Hoves-Pro-Regular"), local("TT-Hoves-Regular"),
		url("../fonts/TT-Hoves-Pro-Regular.ttf") format("truetype"),
		url("../fonts/TT_Hoves_Pro_Regular.woff2") format("woff2"),
		url("../fonts/TT_Hoves_Pro_Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "TT Hoves";
	src: local("../fonts/TT-Hoves-Pro-Medium"), local("TT-Hoves-Medium"),
		url("../fonts/TT-Hoves-Pro-Medium.ttf") format("truetype"),
		url("../fonts/TT_Hoves_Pro_Medium.woff2") format("woff2"),
		url("../fonts/TT_Hoves_Pro_Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("../fonts/OpenSans-Regular"), local("OpenSans-Regular"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype"),
		url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("../fonts/OpenSans-SemiBold"), local("OpenSans-SemiBold"),
		url("../fonts/OpenSans-SemiBold.ttf") format("truetype"),
		url("../fonts/OpenSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src: local("../fonts/OpenSans-Bold"), local("OpenSans-Bold"),
		url("../fonts/OpenSans-Bold.ttf") format("truetype"),
		url("../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:after,
*:before {
	display: block;
	line-height: 1;
}

input:invalid {
	-webkit-box-shadow: none;
	box-shadow: none;
}

input:moz-submit-invalid {
	-webkit-box-shadow: none;
	box-shadow: none;
}

textarea:invalid {
	-webkit-box-shadow: none;
	box-shadow: none;
}

textarea:moz-submit-invalid {
	-webkit-box-shadow: none;
	box-shadow: none;
}

img {
	border: 0;
	display: block;
}

ul,
ol {
	padding-left: 0;
	margin: 0;
}

ul {
	list-style-type: none;
}

ol {
	list-style-position: inside;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

[data-src] {
	opacity: 0;
}
[data-src][src] {
	opacity: 1;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	min-width: 360px;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	font-size: 18px;
	font-weight: 300;
	line-height: 110%;
	color: #5c3b23;
	font-family: "TT Hoves", sans-serif;
	isolation: isolate;
}

@media (max-width: 768px) {
	body {
		font-size: 16px;
		line-height: 130%;
	}
}

* {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
*::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0 !important;
	height: 0 !important;
	display: none !important;
	opacity: 0;
	background-color: transparent;
}
*::-moz-scrollbar {
	width: 0 !important;
	height: 0 !important;
	display: none !important;
	opacity: 0;
	background-color: transparent;
}
*::-webkit-scrollbar:horizontal {
	width: 0 !important;
	height: 0 !important;
	display: none !important;
	opacity: 0;
	background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	width: 0 !important;
	height: 0 !important;
	opacity: 0;
	background: rgba(255, 255, 255, 0);
	background-color: transparent;
	display: none !important;
}
*::-webkit-scrollbar-track-piece {
	width: 0 !important;
	height: 0 !important;
	opacity: 0;
	background: rgba(255, 255, 255, 0);
	background-color: transparent;
	display: none !important;
}
*::-webkit-scrollbar-thumb:hover {
	background: transparent;
	opacity: 0;
}
*::-webkit-scrollbar-track {
	opacity: 0;
	background: transparent;
	background-color: transparent;
	width: 0 !important;
	height: 0 !important;
	display: none !important;
}

body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar:horizontal {
	height: 0;
}
body::-webkit-scrollbar-track {
	background: transparent;
}
body::-webkit-scrollbar-thumb {
	background: #97fc47;
	border-radius: 14px;
}
body::-webkit-scrollbar-thumb:hover {
	background: #333333;
}
@media screen and (max-width: 768px) {
	body {
		display: block;
	}
}

html,
body {
	scroll-behavior: smooth;
}

a {
	color: #c9b1a0;
	-webkit-transition: 300ms ease-out;
	transition: 300ms ease-out;
	text-decoration-line: underline;
	position: relative;
}
a:hover {
	text-decoration: none;
	color: #5c3b23;
}

textarea,
button,
select,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	appearance: auto;
}

p {
	margin: 0;
}

button {
	border: 0;
	outline: none;
	cursor: pointer;
	height: 50px;
	gap: 8px;
	padding: 0 50px;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 18px;
	text-align: center;
}

@media (max-width: 1024px) {
	button {
		font-size: 10px;
		width: 100%;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
