.footer {
	background: #f7f7f7;
	border-radius: 10px;
	margin-top: 100px;
	padding: 44px 152px 36px 42px;
	min-height: 472px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin-bottom: 78px;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 42px;
}

.footer__logo {
	width: 192px;
	object-fit: contain;
}

.footer__list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.footer__subtitle {
	color: #808080;
	margin-bottom: 22px;
}

.footer__link {
	display: flex;
	align-items: center;
	gap: 12px;
}

.footer__link img {
	width: 36px;
	height: 36px;
}

a.footer__link {
	cursor: pointer;
	transition: 200ms ease-in;
}

a.footer__link:hover {
	color: #808080;
}

.footer__docs {
	display: flex;
	gap: 64px;
	position: relative;
}

.footer__docsitem::before {
	content: " ";
	position: absolute;
	top: 50%;
	width: 1px;
	height: 24px;
	left: -32px;
	transform: translateY(-50%);
	background: #808080;
}

.footer__socials {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	background: #fff;
	border-radius: 0 0 0 10px;
	padding: 82px 18px 32px;
	gap: 38px;
}

.footer__socials::before {
	content: " ";
	background-image: url("data:image/svg+xml,%3Csvg width='135' height='412' viewBox='0 0 135 412' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1893_22083)'%3E%3Crect width='135' height='412' fill='white'/%3E%3Cpath d='M-1167 472H125C130.523 472 135 467.523 135 462V405C135 393.954 126.046 385 115 385H63C46.4315 385 33 371.569 33 355V30C33 13.4315 19.5686 0 3 0H-1167C-1172.52 0 -1177 4.47714 -1177 9.99999V462C-1177 467.523 -1172.52 472 -1167 472Z' fill='%23F7F7F7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1893_22083'%3E%3Crect width='135' height='412' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	position: absolute;
	right: 0;
	top: 0;
	width: 135px;
	height: 412px;
	background-position: left top;
	background-size: fill;
	background-repeat: no-repeat;
}
.footer__socials a {
	color: #97fc47;
	transition: 200ms ease-in;
}

.footer__socials a:hover {
	color: #333;
}

@media (max-width: 1024px) {
	.footer {
		padding: 22px 126px 20px 30px;
		min-height: 246px;
		margin-bottom: 40px;
		margin-top: 56px;
		font-size: 10px;
	}
	.footer__logo {
		width: 100px;
	}
	.footer__subtitle {
		margin-bottom: 12px;
	}
	.footer__list {
		gap: 10px;
	}
	.footer__link img {
		width: 18px;
		height: 18px;
	}
	.footer__link {
		gap: 6px;
	}
	.footer__socials {
		padding: 42px 10px 19px;
		gap: 20px;
	}
	.footer__socials svg {
		width: 32px;
		height: 32px;
		object-fit: contain;
	}

	.footer__socials::before {
		width: 70px;
		height: 212px;
		background-image: url("data:image/svg+xml,%3Csvg width='69' height='212' viewBox='0 0 69 212' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1893_22083)'%3E%3Crect width='69' height='212' fill='white'/%3E%3Cpath d='M-609.787 246H63.7866C66.6658 246 69 243.666 69 240.787V211.084C69 205.325 64.3317 200.657 58.5732 200.657H31.4634C22.8255 200.657 15.8231 193.654 15.8231 185.017V15.6402C15.8231 7.00238 8.82074 0 0.182861 0H-609.787C-612.666 0 -615 2.33412 -615 5.21341V240.787C-615 243.666 -612.666 246 -609.787 246Z' fill='%23F7F7F7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1893_22083'%3E%3Crect width='69' height='212' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}
}

@media (max-width: 700px) {
	.footer__socials::before {
		width: 71px;
		height: 294px;
		background-image: url("data:image/svg+xml,%3Csvg width='71' height='294' viewBox='0 0 71 294' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1893_22083)'%3E%3Crect width='71' height='294' fill='white'/%3E%3Cpath d='M-269 10C-269 4.47715 -264.523 0 -259 0H-0.500008C5.02284 0 9.5 4.47715 9.5 10V273.5C9.5 279.023 13.9772 283.5 19.5 283.5H61C66.5228 283.5 71 287.977 71 293.5V639.5H-269V10Z' fill='%23F7F7F7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1893_22083'%3E%3Crect width='71' height='294' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	}

	.footer {
		padding: 36px 15px 32px;
		min-height: 545px;
		margin-bottom: 12px;
		margin-top: 60px;
		font-size: 12px;
	}
	.footer__top {
		flex-direction: column;
	}
	.footer__logo {
		width: 145px;
	}
	.footer__subtitle {
		margin-bottom: 16px;
	}
	.footer__list {
		gap: 12px;
	}
	.footer__link img {
		width: 26px;
		height: 26px;
	}
	.footer__link {
		gap: 12px;
	}
	.footer__socials {
		padding: 60px 0 14px;
		gap: 30px;
	}
	.footer__socials svg {
		width: 48px;
		height: 48px;
	}
	.footer__docs {
		flex-direction: column-reverse;
		gap: 20px;
	}
	.footer__docsitem::before {
		display: none;
	}
	.footer__docsitem {
		color: #808080;
		opacity: 0.8;
	}
}
