.cts__wrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-top: 52px;
	line-height: 130%;
}
.cts__unit {
	width: 100%;
}

.cts__unit a {
	text-decoration: none;
	color: inherit;
	display: block;
}

.cts__title {
	color: var(--capuccio2, #c9b1a0);
	font-size: 16px;
	line-height: 130%;
	padding: 8px 0;
	margin-bottom: 14px;
	border-bottom: 1px solid var(--capuccio2, #c9b1a0);
	display: flex;
	gap: 16px;
}

.cts__title--large {
	font-size: 22px;
	font-weight: 400;
	color: var(--coffee, #5c3b23);
	line-height: 110%;
}

.row {
	display: flex;
	align-items: center;
	gap: 6px;
}

.map {
	margin-top: 72px;
}

.map iframe {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.footer {
	margin-top: 70px;
}

@media (max-width: 1024px) {
	.cts__wrapper {
		margin-top: 46px;
	}
	.map {
		margin-top: 40px;
		height: 438px;
	}
	.footer {
		margin-top: 60px;
	}
}

@media (max-width: 740px) {
	.cts__title--large {
		font-size: 18px;
	}
	.cts__title {
		flex-direction: column;
		gap: 10px;
	}
	.cts__wrapper {
		margin-top: 20px;
	}
	.footer {
		margin-top: 40px;
	}
	.map {
		height: 240px;
	}
}
